@import './base.css';
@import "tailwindcss";
@plugin "daisyui";

@theme {
    --animate-cartaBottom: cartaBottom 0.3s ease-in forwards;
    --animate-gradient: gradient 15s ease infinite;
  
    @keyframes cartaBottom {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }