@import './base.css';
@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: 'Pacifico';
  src: url('/fonts/Pacifico-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* mejora el rendimiento */
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

@theme {
    --animate-cartaBottom: cartaBottom 0.3s ease-in forwards;
    --animate-gradient: gradient 15s ease infinite;
  
    @keyframes cartaBottom {
      0% {
        opacity: 0;
        transform: translateY(-50px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }